#root {
  width: 100vw;
  height: 100vh;
  --font-primary: durer;
  --color-bg: #6e7570;
}

@font-face {
  font-family: 'durer';
  src: url('fonts/durer-webfont.woff2') format('woff2'),
       url('fonts/durer-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
}

.myHeading {

  font-size: 32px;
  font-weight: bold;
  color: #333;
  /* Add any other desired typography styles */
}
